.map_container {
    position: relative;
}

.map_filters {
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;
    width: 200px;
}

.date_filter {
    flex: 1;
    margin-right: 5px;
}

.time_filter {
    width: 50px;
}